/* created by Shouvik on 30/05/2020 -- 31/05/2020*/
body
{
	font-family: "Times New Roman", Times, serif;
	color:#fff;
}

.container-fluid{
	background-color:black;
	height:100vh;
}
.container{
	height:80vh;
}
h1{
	text-align:center;
}
.game_area{
	width:250px;
}
.player{
	text-align:center;
	font-size:1.5em;
	margin-bottom:20px;
}
.row{
	width:100%;
	margin:auto;
}
.col-4{
	display:flex;
	font-size:2em;
	border-radius:5px;
	border:1px solid #fff;
	margin:1px auto;
	max-width:32%;
	height:80px;
	cursor:pointer;
	align-items:center;
	justify-content:center;
}
.occupied{
	
}
.tick{
	
}
.cross{
	
}

#reset{
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.replay{
	display: none;
}

.glow {
  -webkit-animation: shadow-pulse 1s infinite;
  -moz-animation: shadow-pulse 1s infinite;
  animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255,255,255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(255,255,255, 0);
  }
}